.section-06-container {
    p {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 40px;
    }
    h2 {
        font-family: 'Times New Roman', 'Times', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', Meiryo, serif;
        margin: 0;
        color: #221815;
    }
}

.section-7-container {
    div {
        margin: 8px auto 0;
        width: calc(100% - 2px);
        min-height: 438px;
        display: block;
        border: 1px solid #9fa0a0;
    }
}

//larger screens
@media only screen and (min-width: 1241px) {
    #section-06 {
        margin-top: 150px;

        .section-06-container {
            h2 {
                margin: 0;
                font-weight: bold;
                text-align: center;
                font-family: 'Times New Roman', 'Times', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', Meiryo, serif;
                color: #221815;
                font-size: 34px;
                line-height: 1.2;
            }
            .content {
                margin-top: 40px;

                p {
                    margin-top: 0;
                    color: #221815;
                    font-size: 18px;
                    line-height: 2.1;
                    text-align: center;
                }
            }
        }


        .btn-06-container {
            padding-top: 100px;
            width: 640px;
            font-size: 24px;
            font-weight: normal;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            color: #fff;

            a {
                padding-right: 8px;
                height: 75px;
                border: #e29300 2px solid;
                background: #e29300;
                box-sizing: border-box;
                color: #fff;
                text-decoration: none;
                line-height: 76px;
                display: block;
                opacity: 1;
            }
            a:hover {
                color: #e29300;
                background-color: #fff;
            }

            span {
                position: relative;
            }

            span::after {
                content: "";
                background: url(./../img/arrow_right_white.png) no-repeat 0 0;
                background-size: 17px auto;
                position: absolute;
                right: -36px;
                width: 17px;
                height: 22px;
                top: 3px;
            }

            a:hover span:after {
                background: url(./../img/arrow_right_orange.png) no-repeat 0 0;
                background-size: 17px auto;
            }
        }
    }
}





//default screen upto tablet
@media only screen and (max-width: 1240px) and (min-width: 768px) {


    #section-06 {
        margin-top: 60px;
        .section-06-container {

            h2 {
                margin: 0;
                font-size: 34px;
                line-height: 1.2;
                font-weight: bold;
            }

            .content {
                margin-top: 20px;

                p {
                    font-size: 15px;
                    line-height: 1.8;
                }
            }
        }

        .btn-06-container {

            width: 360px;
            margin: 0 auto;
            text-align: center;
            color: #fff;
            font-size: 22px;
            font-weight: normal;

            a {
                margin-top: 40px;
                padding-right: 8px;
                color: #fff;
                line-height: 2.8;
                box-sizing: border-box;
                text-decoration: none;
                background: #e29300;
                border: #e29300 2px solid;
                display: block;
                height: 66px;
                opacity: 1;
            }
            a:hover {
                color: #e29300;
                background: #fff;
            }

            span {
                position: relative;
            }

            span::after {
                content: "";
                background: url(./../img/arrow_right_white.png) no-repeat 0 0;
                background-size: 14px auto;
                position: absolute;
                top: 3px;
                right: -30px;
                width: 15px;
                height: 20px;
            }
            a:hover span:after {
                background: url(./../img/arrow_right_orange.png) no-repeat 0 0;
                background-size: 14px auto;
            }
        }
    }
}

//mobile devices
@media only screen and (max-width: 767px) {


    #section-06 {
        margin: 40px 12px;

        h2 {
            text-align: left !important;
            font-size: 24px;
            font-weight: bold !important;
            line-height: 1.4;
        }

        p {
            text-align: left !important;
            font-size: 12px;
            line-height: 2
        }

        .content {
            margin-top: 20px;

            br {
                display: none;
            }
        }


        .btn-06-container {
            margin-left: 12px;
            margin-right: 12px;
            text-align: center;
            color: #fff;
            font-size: 13px;

            a {
                margin-top: 40px;
                padding-right: 12px;
                color: #fff;
                text-decoration: none;
                display: block;
                height: 50px;
                border: 2px solid #e29300;
                line-height: 50px;
                background: #e29300;
                opacity: 1;
            }
            a:hover {
                opacity: 0.7;
                transition: all .2s linear;
            }

            span {
                position: relative;
            }

            span::after {
                content: ' ';
                background: url("./../img/arrow_right_white.png") no-repeat 0 0;
                background-size: 8px auto;
                position: absolute;
                top: 3px;
                right: -18px;
                width: 8px;
                height: 11px;
            }

        }
    }
}