.section-02-container {
    p {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 40px;
    }
    h2 {
        font-family: 'Times New Roman', 'Times', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', Meiryo, serif;
        margin: 0;
        color: #221815;
    }
}

//larger screens
@media only screen and (min-width: 1241px) {
    #section-02 {
        margin-top: 250px;

        .section-02-container {
            h2 {
                margin: 0;
                font-family: 'Times New Roman', 'Times', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', Meiryo, serif;
                color: #221815;
                font-size: 34px;
                line-height: 1.2;
                font-weight: bold;
                text-align: center;
            }
            .content {
                margin-top: 40px;

                p {
                    margin-top: 0;
                    color: #221815;
                    font-size: 18px;
                    line-height: 2.1;
                    text-align: center;
                }
            }
        }
    }
}





//default screen upto tablet
@media only screen and (max-width: 1240px) and (min-width: 768px) {

    #section-02 {
        margin-top: 60px;
        .section-02-container {

            h2 {
                margin: 0;
                font-size: 34px;
                line-height: 1.2;
                font-weight: bold;
            }

            .content {
                margin-top: 20px;

                p {
                    font-size: 15px;
                    line-height: 1.8;
                }
            }
        }

    }
}

//mobile devices
@media only screen and (max-width: 767.5px) {

    #section-02 {
        margin: 40px 12px;

        h2 {
            text-align: left !important;
            font-size: 24px;
            font-weight: bold !important;
            line-height: 1.4;
        }

        p {
            text-align: left !important;
            font-size: 12px;
            line-height: 2
        }

        .content {
            margin-top: 20px;

            br {
                display: none;
            }
        }
    }
}